<footer>
  <div class="logo">
    <img src="/favicon.png" alt="Logo ValorantTienda" />
    <h1>ValorantTienda</h1>
  </div>
  <div class="footer-info">
    <p>Valentin Corallo &nbsp;&nbsp; Agustin Gonzales</p>
    <p>&copy; 2025 ValorantTienda. Todos los derechos reservados.</p>
  </div>
</footer>
