<h1>Agregar Producto</h1>
<form action="/admin/productos/agregar" method="POST">
  <label>Nombre:</label>
  <input type="text" name="nombre" required>
  
  <label>Precio:</label>
  <input type="number" name="precio" required>

  <label>Categoría:</label>
  <select name="categoria">
    <option value="skin">Skin</option>
    <option value="moneda">Moneda</option>
  </select>

  <label>Subcategoría:</label>
  <input type="text" name="subcategoria">

  <label>URL Imagen:</label>
  <input type="text" name="img">

  <label>¿Activo?:</label>
  <input type="checkbox" name="activo" value="1" checked>

  <label>¿Destacado?:</label>
  <input type="checkbox" name="destacado" value="1">

  <button type="submit">Agregar</button>
</form>
